/src
/ddd_docs
/chapters/01_chapter/figures/
/chapters/02_chapter/figures/
/chapters/03_chapter/figures/
/chapters/04_chapter/figures/
/chapters/05_chapter/figures/
/chapters/06_chapter/figures/
/output
/drafts
/submit
