/src/cover/templates/
/src/idea.txt
/ddd_docs
/chapters/01_chapter/
/chapters/02_chapter/
/chapters/03_chapter/
/chapters/04_chapter/
/chapters/05_chapter/
/chapters/06_chapter/
/output/RihonJérôme_PhDThesis.pdf
/drafts
/submit
